<form
  method="POST"
  action="/admin/article/<%= article.id %>"
  class="action-form"
>
  <input type="hidden" name="_method" value="DELETE" />
  <button class="action inline" type="submit">Delete</button>
</form>
