<header>
  <div class="menu">
    <% var links = [{href: "/", label: "Home"}, {href: "/about", label: `About
    us`}, {href: "/contact", label: "Contact us"}] %>

    <ul>
      <% for (var link of links) { %>
      <li>
        <a href="<%= link.href %>">
          <%= link.label %>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="menu">
    <ul>
      <% if (locals.user) { %>
      <li><%= user.username %></li>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </div>
</header>
