<%- include("../../layouts/admin-top.ejs") %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae id magnam
  repellat esse earum, explicabo eaque beatae accusamus hic laboriosam!
  Exercitationem recusandae earum soluta? Aut fuga quidem soluta omnis cum!
</p>

<%- include("../../layouts/admin-bottom.ejs") %>
