<%- include("./layouts/main-top.ejs") %>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat officia a
  qui dolores quo maiores magni soluta porro recusandae rerum? Animi sapiente
  quidem quia ex sequi. Consequuntur et voluptatum amet!
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio
  corrupti perspiciatis inventore. Nisi inventore, perferendis corrupti, aliquid
  quia officiis nihil id vitae alias, cumque est laboriosam necessitatibus
  reprehenderit perspiciatis!
</p>

<%- include("./layouts/main-bottom.ejs") %>
