<%- include("./layouts/main-top.ejs") %>

<h3>Last Articles</h3>

<div>
  <% for(const article of articles) { %>
  <div>
    <a href="/article/<%= article.id %>">
      <%= article.title %>
    </a>
  </div>
  <% } %>
</div>

<div>
  <a href="/article">
    View All articles
  </a>
</div>

<%- include("./layouts/main-bottom.ejs") %>
