<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
          </ul>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </header>
      <main>
        <div class="page-title">
          <h1>Home page</h1>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          voluptates at alias praesentium culpa commodi velit facilis distinctio
          aliquid, veniam deleniti est! Laudantium omnis beatae corporis
          voluptatibus, eius culpa et?
        </div>
      </main>
      <footer>
        <div class="copyright">
          NodeJS Course
        </div>
      </footer>
    </div>
  </body>
</html>
